<%- include("header") -%>

<h2>Welcome to Taskribe!</h2>

<p>Taskribe is a powerful and user-friendly to-do list web tool that will help you keep organised and productive. Taskribe is designed to make your task management process simpler, whether you're managing personal projects, professional assignments, or anything else in your life.</p>
<p>Our mission:
Our purpose at Taskribe is to enable people to achieve their objectives effectively. We comprehend the difficulties of modern life and the necessity for a dependable and adaptable solution that fits your particular workflow. You can quickly plan, track, and finish jobs with Taskribe, making sure nothing slips between the gaps.</p>

<%- include("footer") -%>
